.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #fff;
  grid-row-start: 2;
  grid-row-end: auto;
  grid-column-start: 1;
  grid-column-end: auto;
  z-index: 1;
  justify-self: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 4vw;
    line-height: 110%;
    max-width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
