.place__paragraph {
  max-width: 484px;
  margin: 0 0 26px 0;
  grid-column-start: 2;
  grid-column-end: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
}
