.place__paragraph {
  margin: 0 0 25px 0;
  grid-column-start: 2;
  grid-column-end: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  /* or 29px */
  color: #FFFFFF;
}
