.lead__subtitle {
  max-width: 640px;
  margin: 0 auto 64px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    line-height: 125%;
    margin-bottom: 40px;
  }
}
