.place__link {
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  transition: .2s ease-in-out;
}

.place__link:hover {
  opacity: .8;
}
