.cover__title {
  max-width: 560px;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #fff;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  justify-self: center;
  align-self: end;
}
