.footer {
  max-width: 1184px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 92px 24px 48px;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: 90.62%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 88px 24px 24px;
  }
}


@media screen and (max-width: 767px) {
  .footer {
    padding-top: 64px;
    padding-left: 16;
    flex-direction: column;
  }
}
